.note {
  pointer-events: auto;
  background: #fe182e;
  position: absolute;
  user-select: none;
  display: flex;
  border: 1px solid black;
}

.handle {
  width: 3px;
  min-height: 100%;
  background: black;
  cursor: col-resize;
}

.body {
  flex-grow: 1;
  display: grid;
  place-items: center;
  cursor: pointer;
}
