.key {
  position: relative;
  user-select: none;
  color: black;
  height: 100%;
  width: 45px;
}

.noteName {
  position: relative;
  left: -40px;
  display: grid;
  place-items: center;
  opacity: 0;
  width: 100%;
  height: 100%;
  transition: 70ms opacity ease-out;
}

.noteName[data-shownotename="true"] {
  opacity: 1;
  transition: 70ms opacity ease-in;
}
